body {
  background:#111;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

.task {
  background:#222;
  padding:20px;
  border-radius:10px;
  margin:20px;
}

button {
  padding:10px 15px;
  margin:5px;
  border-radius:8px;
  border:none;
}