body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#2dbfff, #1e90ff);
  color: #000;
}

.app { padding-bottom: 90px; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: rgba(255,255,255,0.3);
  font-weight: bold;
}

.sea {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boat {
  width: 120px;
}

.panel {
  background: #fff;
  margin: 12px;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
}

.panel button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: orange;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.menu {
  display: flex;
  gap: 10px;
  margin: 12px;
}

.box {
  flex: 1;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

.box button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
}
