body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #3bb6ff, #2ecc71);
  color: #333;
}

.app {
  padding: 15px;
  padding-bottom: 90px;
}

.top {
  display: flex;
  justify-content: space-between;
  background: #ffffffcc;
  padding: 10px;
  border-radius: 10px;
}

.game-area {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.main-btn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #f1c40f;
  font-size: 16px;
  font-weight: bold;
}

#timer {
  margin-top: 10px;
  font-weight: bold;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #f39c12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.tab {
  text-align: center;
  font-size: 12px;
  color: white;
}

.tab span {
  display: block;
  font-size: 11px;
}
.screen {
  padding: 20px;
}

.hidden {
  display: none;
}
