* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f172a; /* nền tối */
  color: #fff;
  font-family: Arial, sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding: 20px;
  padding-bottom: 90px;
}

/* SCREEN */
.screen {
  width: 100%;
}

.hidden {
  display: none;
}

/* MENU DƯỚI */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #f59e0b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-menu button {
  background: none;
  border: none;
  color: #000;
  font-size: 12px;
  }
